html, body {
  background: #333;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Open Sans;
}
h1, h2 {
  font-weight: 200;
  padding: 0;
  color: #fff;
}
h1 {
  font-size: 40px;
  margin: 10px;
}
h2 {
  font-size: 18px;
  text-align: center;
  margin: 10px 0;
}
a {
  color: #ccc;
  font-size: 11px;
  display: inline-block;
  margin: 5px;
  vertical-align: middle;
  text-decoration: none;
  transition: opacity .1s;
  &:hover {
    opacity: .7;
  }
}
section {
  &:first-child {
    margin-top: 15px;
  }
}
.devmount {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 20px;
  line-height: 20px;
  text-decoration: none;
  font: 17px Arial;
  color: #fff;
  padding: 10px 40px 10px 0;
  margin-right: 10px;
  background: url(http://media.devmount.de/devmount_small_light.png) right center no-repeat;
  transition: background-position .3s, color .3s;
  span {
    position: absolute;
    right: 3px;
    color: transparent;
    transition: inherit;
  }
  &:hover {
    opacity: 1;
    background-position: left center;
    color: transparent;
    span {
      color: #fff;
    }
  }
}